@tailwind base;
@tailwind components;
@tailwind utilities;

.partner {
  animation: 10s slide infinite linear;
}

.partner1:hover .partner {
  animation-play-state: paused;
}

@keyframes slide {
  fromt {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
